/* HEADER CSS CTART */
.nav__menu-item-link {
    color: var(--light-color);
    font-weight: 600;
}

.header {
    background-image: url(../img/header_image.png);
    background-position: right;
    background-size: cover;
    padding-top: 30px;
    min-height: 100vh;
}

.header__logo {
    max-height: 35px;
}

.nav__menu-item {
    margin-left: 15px;
    font-size: 14px;
}

.btn__item {
    border: 1px solid var(--light-color);
    padding: 6px 9px 6px 9px;
    color: var(--text-color);
    font-size: 13px;
}

.btn__item:hover {
    background-color: var(--light-color);
    color: black;
}

.youtube__icon {
    max-width: 13px;
    display: inline;

}

.header__title {
    color: var(--light-color);
    padding-top: 10px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 70px;
}

.header__subtitle {
    color: var(--light-color);
    padding-top: 110px;
    font-size: 12px;
    font-weight: 700;
}

.header__subtitle-arrow {
    font-weight: 900;
    color: var(--arrow-color);
}


.header__title-more {
    color: var(--light-color);
    font-size: 12px;
    margin-bottom: 50px;
}

.header__title-more-link {
    color: var(--light-color);
    text-decoration: underline;
    font-weight: 700;

}

.header__promobox-title {
    color: var(--light-color);
    font-weight: 700;
    margin-top: 15px;
}

.header__promobox-subtitle,
.header__promobox-text {
    color: var(--light-color);
    font-weight: 500;
    font-size: 12px;
    margin-top: 25px;
}

.header__promobox-text {
    margin-bottom: 35px;
}

.header__promobox-link {
    margin-top: 35px;
    color: var(--light-color);
    font-size: 14px;
}

.header__promobox-link p {
    text-decoration: underline;
    display: inline;
}

.header__promobox-arrow {
    color: var(--arrow-color);
    text-decoration: none;
    display: inline;
}

.nav__logo-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.nav__logo-mobile-burger {
    position: relative;
    width: 24px;
    height: 16px;
}

@media (max-width:991px) {
    body.lock {
        overflow: hidden;
    }

    /* transition: opacity .2s ease-in */



    .burger__arrow,
    .nav__logo-mobile-burger::before,
    .nav__logo-mobile-burger::after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: var(--light-color);
        width: 100%;
        cursor: pointer;
    }

    .burger__arrow {
        scale: 1;

    }

    .nav__logo-mobile-burger::before {
        top: 0;
        transition: .3s ease-in;
    }

    .nav__logo-mobile-burger::after {
        bottom: 0;
        transition: .2s ease-in;
    }

    .nav__logo-mobile-burger.active .burger__arrow {
        scale: 0;
        transition: .3s ease-in;
    }

    .nav__logo-mobile-burger.active.nav__logo-mobile-burger::before {
        top: 50%;
        transform: rotate(45deg);
    }

    .nav__logo-mobile-burger.active.nav__logo-mobile-burger::after {
        transform: rotate(-45deg);
        bottom: 40%;
    }

    .burger__arrow {
        top: 50%;
    }

    .nav__menu-wrapper {
        position: fixed;
        top: -100%;
    }

    .nav__menu-wrapper.active {
        top: 0;
        left: 0;


    }

    .nav__menu-wrapper {
        background-color: #232428;
        display: flex;
        flex-direction: column;
        justify-content: start;
        min-width: 100%;
        min-height: 100%;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .nav__menu {
        margin-top: 150px;
    }


    .nav__menu-item {
        margin: 40px;
        font-size: 17px;
        font-weight: 600px;
        text-align: center;

    }


}

@media (min-width:768px) {
    .header__title {
        font-size: 125px;
    }

    .header_promobox {
        display: flex;
        justify-content: space-between;
    }

    .header_promobox-video {
        max-width: 300px;
    }

}

@media (min-width:992px) {
    .header_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__menu {
        display: flex;
        justify-content: end;
    }
}

/* HEADER CSS END */

/* ABOUT US CSS START */








/* ABOUT US CSS END */