.section__places-title {
    color: var(--secttion-color-light);
    font-size: 12px;
    font-weight: 500;
}

.section__places-title span {
    color: var(--arrow-color);
    font-weight: 900;
}

.section__places-subtitle {
    font-family: 'Playfair Display', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: var(--subtitle-color);
    letter-spacing: 1.02px;
    line-height: 40.8px;
    margin-top: 20px;
}

.section__places-text {
    color: var(--subtitle-color);
    font-size: 19px;
    font-weight: 400;
    line-height: 32.3px;
    margin-top: 50px;
}

.tabs__wrapper-nav {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 25px;
}
@media (max-width:635px) {
    .tabs__wrapper-nav::after {
        display: none;
    }
}

.tabs__wrapper-nav::after {
    top: 58px;
    position: absolute;
    height: 1px;
    width: 100%;
    content: "";
    background-color: #e4e4e5;
}

.nav__list-item {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.51px;
    line-height: 28.9px;
    color: #969799;
    padding: 15px 20px 15px 20px;
    white-space: nowrap;
    position: relative;
}

.nav__list-item:hover {
    color: var(--subtitle-color);
    cursor: pointer;
}

.city__description-title {
    font-size: 12px;
    color: var(--secttion-color-light);
    font-weight: 500;
    letter-spacing: 0.36px;
    line-height: 1.6em;
}

.city__description-subtitle {
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--subtitle-color);
    letter-spacing: 1.02px;
    line-height: 40.8px;
}

.time {
    color: red;
    font-size: 19px;
    font-weight: 700;
    line-height: 1.6em;
    display: block;
}

.position {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6em;
    color: var(--subtitle-color);
    display: block;
}

.city__description-text {
    line-height: 1.6em;
    letter-spacing: 0.51px;
    color: #797b79;
}

.city__description-advantages img {
    max-width: 20px;
    max-height: 24px;
    display: inline;
    transform: translateY(4px);
}

.city__description-advantages span {
    color: var(--subtitle-color);
    font-size: 14px;
}

.city__description-button {
    padding: 14px 20px 14px 20px;
    background-color: #14a9ee;
    color: var(--light-color);
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    margin: 10px;
    max-width: 150px;
    text-align: center;
}

.tablink__active {
    position: relative;
    color: var(--subtitle-color);

}

.tablink__active::after {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: red;
    top: 57px;
    left: 0;
    content: "";
    z-index: 2;
}

#Trondheim_card,
#bodo_card,
#lofoten_card,
#tromso_card {
    display: none;
}

.oslo {
    display: flex;
}

.tabs__wrapeer-card {
    flex-direction: column;
}

.city__image {
    display: block;
    height:350px ;
    background-size: cover;
    background-position: center;
}

.oslo .city__image {
    background-image: url(../img/places-img/oslo.jfif);
}

.trondheim .city__image {
    background-image: url(../img/places-img/trondheim.jfif);
}

.bodo .city__image {
    background-image: url(../img/places-img/bodo.jfif);
}

.lofoten .city__image {
    background-image: url(../img/places-img/lofoten-islands.jfif);
}

.tromso .city__image {
    background-image: url(../img/places-img/trosmo.jfif);
}

.city__description {
    padding: 25px 35px 40px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.city__description-accom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.city__description h5,
.city__description div {
    margin-bottom: 30px;
}
@media (min-width:768px) {
    .tabs__wrapeer-card{
        flex-direction: row;
    }
    .city__image {
        min-width: 50%;
        height: 700px;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.tabs__wrapeer-cards {
    padding-bottom: 50px;
    
}